<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lm.dao.ManagerMapper">
    <resultMap id="result-manager" type="Manager">
        <id property="id" column="id"/>
        <result property="mname" column="mname"/>
        <result property="password" column="password"/>
        <result property="rights" column="rights"/>
    </resultMap>
    <!--分页头部-->
    <sql id="pageHeader">
        select id,mname,password,rights from (
        select row_number() over (
    </sql>
    <!--排序-->
    <sql id="orderBy">
        order by
        <choose>
            <when test="sort=='mname'">mname</when>
            <otherwise>id</otherwise>
        </choose>
        <if test="order == 'asc'">asc</if>
        <if test="order == 'desc'">desc</if>
    </sql>
    <!--条件-->
    <sql id="whereCase">
        <where>
            mname != 'admin'
            <if test="mname != null and mname != ''">
                and mname like concat('%',concat(#{mname},'%'))
            </if>
        </where>
    </sql>
    <!--尾部-->
    <sql id="pageFoot">
        <!--把CDATA中的数据当作纯字符串-->
        <![CDATA[) where rn>#{page} and rn<=#{rows}]]>
    </sql>
    <!--分页查询-->
    <select id="findPage" resultMap="result-manager">
        <include refid="pageHeader" />
        <include refid="orderBy" />
        ) rn,m.* from lmanager m
        <include refid="whereCase" />
        <include refid="pageFoot" />
    </select>
    <!--分页查询总数-->
    <select id="findPageTotal" resultType="int">
        select count(id) from lmanager
        <include refid="whereCase" />
    </select>
    <select id="checkPwd" resultMap="result-manager">
        select id,mname,password,rights from lmanager
        <where>
            mname=#{mname} and password=#{password}
        </where>
    </select>
</mapper>